<!doctype html>
<html>
    <head>
        <title>ResultInfo</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <style>
            table,th,td{
                border:1px solid black;
            }
        </style>
    </head>
    <body>
        
 