<%-include("partials/header")%>
<div class="container">
    <h1 style="text-align:center;">Candidate Info:</h1>
    <div style="width:30%; margin:30px auto;">
        <form action="/result" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Candidate full name" name="name">
            </div>
            
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Email Address" name="eId">
            </div>
        
        <h3>Test Score:</h3>
            
            <p>First Round:
            <input class="form-control" type="number" placeholder="Enter Score out of 10" name="f1">
            </p>
            <p>Second Round:
            <input class="form-control" type="number" placeholder="Enter Score out of 10" name="f2">
            </p>
            <p>Third Round:
            <input class="form-control" type="number" placeholder="Enter Score out of 10" name="f3">
            </p>
            
            <button class="btn btn-primary btn-block">Submit</button>
            
            <a href="/result">Go-to Result</a>

        </form>
    </div>
</div>

<%-include("partials/footer")%>